go.sum
.idea/
examples/single-agent-example/GAIA/eval
examples/multi-agent-example/GAIA/eval
examples/multi-agent-example/GAIA/eval_wofile
examples/multi-agent-example/GAIA/eval_onlyfile
examples/multi-agent-example/GAIA/SOP/val_sop
examples/multi-agent-example/GAIA/SOP/rev_sop
examples/multi-agent-example/GAIA/SOP/reflect
examples/multi-agent-example/paper_write/eval
*.log
myread.py
process_files.py
examples/multi-agent-example/GAIA/Analysis/embedding/
