go.sum
.idea/
examples/single-agent-example/GAIA/eval
examples/multi-agent-example/GAIA/eval
examples/multi-agent-example/GAIA/eval_wofile
examples/multi-agent-example/GAIA/eval_onlyfile
examples/multi-agent-example/GAIA/SOP/val_sop
examples/multi-agent-example/GAIA/SOP/rev_sop
examples/multi-agent-example/GAIA/SOP/reflect
examples/multi-agent-example/GAIA/log
examples/multi-agent-example/paper_write/eval
*.log
myread.py
process_files.py
examples/multi-agent-example/GAIA/Analysis/embedding/
examples/multi-agent-example/GAIA/Analysis/embedding_bge

examples/multi-agent-example/travelplanner/output
examples/multi-agent-example/travelplanner/results
examples/multi-agent-example/travelplanner/SOP/eval

dataset/travelplanner/database

*.vscode
*.pyc

examples/multi-agent-example/travelplanner/Analysis/embedding_qwen
examples/multi-agent-example/travelplanner/SOP/reflect
examples/multi-agent-example/travelplanner/SOP/rev_sop
examples/multi-agent-example/travelplanner/SOP/gen_sop
examples/multi-agent-example/travelplanner/log

examples/multi-agent-example/travelplanner-sole/SOP/reflect
examples/multi-agent-example/travelplanner-sole/SOP/rev_sop
examples/multi-agent-example/travelplanner-sole/SOP/gen_sop
examples/multi-agent-example/travelplanner-sole/log
examples/multi-agent-example/travelplanner-sole/output
examples/multi-agent-example/travelplanner-sole/results

examples/multi-agent-example/humaneval/output
examples/multi-agent-example/humaneval/log
examples/multi-agent-example/humaneval/results
examples/multi-agent-example/humaneval/*.py
examples/multi-agent-example/humaneval/__pycache__/
examples/multi-agent-example/humaneval/Analysis/embedding_qwen
examples/multi-agent-example/humaneval/SOP/gen_sop
tp_t0_train_case.json
examples/multi-agent-example/MBPP/output
examples/multi-agent-example/MBPP/log
examples/multi-agent-example/MBPP/results
examples/multi-agent-example/MBPP/*.py
examples/multi-agent-example/MBPP/__pycache__/
examples/multi-agent-example/MBPP/Analysis/embedding_qwen
examples/multi-agent-example/MBPP/SOP/gen_sop
